# API
F1_API_BASE_URL=...

# MinIO
MINIO_ENDPOINT=...
MINIO_ACCESS_KEY=...
MINIO_SECRET_KEY=...
MINIO_BUCKET_RAW=raw
MINIO_BUCKET_STAGING=staging
MINIO_SECURE=false

# Oracle 
ORACLE_PASSWORD=OracleStrongPass123
APP_USER=f1_dwh
APP_USER_PASSWORD=F1DwhPass123