# API
F1_API_BASE_URL=https://api.jolpi.ca/ergast/f1

# MinIO root
MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin123

# MinIO client
MINIO_ENDPOINT=localhost:9000
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin123
MINIO_BUCKET_RAW=raw
MINIO_BUCKET_STAGING=staging
MINIO_SECURE=false

# Oracle container init
ORACLE_SYS_PASSWORD=OracleStrongPass123
APP_USER=f1_dwh
APP_USER_PASSWORD=F1DwhPass123

# Oracle app connection
ORACLE_HOST=localhost
ORACLE_PORT=1521
ORACLE_SERVICE_NAME=FREEPDB1
ORACLE_USER=f1_dwh
ORACLE_PASSWORD=F1DwhPass123

# ClickHouse
CLICKHOUSE_HOST=localhost
CLICKHOUSE_PORT=8123
CLICKHOUSE_DATABASE=f1_serving
CLICKHOUSE_USER=default
CLICKHOUSE_PASSWORD=clickhouse