# API
F1_API_BASE_URL=https://api.jolpi.ca/ergast/f1

# MinIO service
MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=your_minio_root_password

# MinIO client
MINIO_ENDPOINT=localhost:9000
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=your_minio_secret_key
MINIO_BUCKET_RAW=raw
MINIO_BUCKET_STAGING=staging
MINIO_SECURE=false

# Oracle container init
ORACLE_SYS_PASSWORD=your_oracle_sys_password
APP_USER=f1_dwh
APP_USER_PASSWORD=your_oracle_app_password

# Oracle app connection
ORACLE_HOST=localhost
ORACLE_PORT=1521
ORACLE_SERVICE_NAME=FREEPDB1
ORACLE_USER=f1_dwh
ORACLE_PASSWORD=your_oracle_app_password

# ClickHouse
CLICKHOUSE_HOST=localhost
CLICKHOUSE_PORT=8123
CLICKHOUSE_DATABASE=f1_serving
CLICKHOUSE_USER=default
CLICKHOUSE_PASSWORD=your_clickhouse_password