# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.venv/

# Environment files
.env

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Local data
data/raw/
data/staging/

# Airflow local state
airflow/airflow.db
airflow/logs/
airflow/*.log

# Python temp / cache
.pytest_cache/
.mypy_cache/
.ruff_cache/

# Jupyter
.ipynb_checkpoints/

# Build artifacts
dist/
build/
*.egg-info/

# Local databases / temp files
*.sqlite
*.db
*.tmp